:root {
  --colors-border-border-12: rgba(255, 255, 255, 0.12);
  --colors-border-border-16: rgba(255, 255, 255, 0.16);
  --colors-content-text-100: rgba(255, 255, 255, 1);
  --colors-content-text-60: rgba(255, 255, 255, 0.6);
  --colors-content-text-70: rgba(255, 255, 255, 0.7);
  --colors-inner-inner-5: rgba(255, 255, 255, 0.05);
  --colors-selected-selected-10: rgba(255, 255, 255, 0.1);
  --colors-selected-selected-16: rgba(255, 255, 255, 0.16);
  --colors-selected-selected-20: rgba(255, 255, 255, 0.2);
  --dark: rgba(34, 39, 49, 1);
  --green: rgba(114, 255, 179, 1);
  --headers-font-family: "Inter-SemiBold", Helvetica;
  --headers-font-size: 16px;
  --headers-font-style: normal;
  --headers-font-weight: 600;
  --headers-letter-spacing: 0px;
  --headers-line-height: normal;
  --mini-header-font-family: "Inter-SemiBold", Helvetica;
  --mini-header-font-size: 10px;
  --mini-header-font-style: normal;
  --mini-header-font-weight: 600;
  --mini-header-letter-spacing: 0px;
  --mini-header-line-height: 100%;
  --paragraph-font-family: "Inter-Regular", Helvetica;
  --paragraph-font-size: 13px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --sub-headers-font-family: "Inter-SemiBold", Helvetica;
  --sub-headers-font-size: 13px;
  --sub-headers-font-style: normal;
  --sub-headers-font-weight: 600;
  --sub-headers-letter-spacing: 0px;
  --sub-headers-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="dark-glassy">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="dark-glassy"] {
  --colors-border-border-12: rgba(255, 255, 255, 0.12);
  --colors-border-border-16: rgba(255, 255, 255, 0.16);
  --colors-content-text-100: rgba(255, 255, 255, 1);
  --colors-content-text-60: rgba(255, 255, 255, 0.6);
  --colors-content-text-70: rgba(255, 255, 255, 0.7);
  --colors-inner-inner-5: rgba(255, 255, 255, 0.05);
  --colors-selected-selected-10: rgba(255, 255, 255, 0.1);
  --colors-selected-selected-16: rgba(255, 255, 255, 0.16);
  --colors-selected-selected-20: rgba(255, 255, 255, 0.2);
}

[data-colors-mode="light-filled"] {
  --colors-border-border-12: rgba(215, 215, 215, 1);
  --colors-border-border-16: rgba(210, 210, 210, 1);
  --colors-content-text-100: rgba(33, 37, 46, 1);
  --colors-content-text-60: rgba(122, 124, 130, 1);
  --colors-content-text-70: rgba(100, 103, 109, 1);
  --colors-inner-inner-5: rgba(240, 240, 240, 1);
  --colors-selected-selected-10: rgba(255, 255, 255, 1);
  --colors-selected-selected-16: rgba(233, 233, 233, 1);
  --colors-selected-selected-20: rgba(255, 255, 255, 1);
}

[data-colors-mode="dark-filled"] {
  --colors-border-border-12: rgba(85, 89, 97, 1);
  --colors-border-border-16: rgba(104, 108, 114, 1);
  --colors-content-text-100: rgba(255, 255, 255, 1);
  --colors-content-text-60: rgba(175, 177, 181, 1);
  --colors-content-text-70: rgba(195, 196, 199, 1);
  --colors-inner-inner-5: rgba(52, 56, 65, 1);
  --colors-selected-selected-10: rgba(67, 72, 82, 1);
  --colors-selected-selected-16: rgba(78, 82, 90, 1);
  --colors-selected-selected-20: rgba(85, 89, 96, 1);
}
